""" Trying some basic programmes in Python
    Nidhin
    Multiple line commenting...
"""

In [1]:
#basics
print('HELLO WORLD')
print("Hi Nidhin , How are you?")

HELLO WORLD
Hi Nidhin , How are you?

In [2]:
a = [1, 2, 3]
c = list(a)
print(a  is c )
print(a == c)
a

False
True

[1, 2, 3]

In [3]:
c

[1, 2, 3]

In [4]:
title="python programming"
x=len(title)
print(x)
#finding length of a string _it includes the space as well

18

In [5]:
name=input("What is your Name:\n")
print("\nHi," ,name)
c=("Kerala")
print("Welcome to",c)

What is your Name:
Kohli

Hi, Kohli
Welcome to Kerala

In [10]:
a=2
a=3
print(a)

3

In [11]:

print("aaa")
print(end="")
print("aaa")

aaa
aaa

In [15]:

def pyr(n):
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end="  ")
        k=k-1
        for j in range(0,i):
            print("* ",end="")
        print(" \r")  
a=int(input("enter the no of raws:")) 
pyr(a)

enter the no of raws:5

      *
    * *
  * * *
* * * *

In [19]:

def pyr(n):
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end="")
        k=k-1
        for j in range(0,i):
            print("* ",end="  ")
        print("\r")  
a=int(input("enter the no of raws:")) 
pyr(a)

enter the no of raws:5

*
*   *
*   *   *
*   *   *   *

In [20]:

def pyr(n):
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end="  ")
        k=k-1
        for j in range(0,i):
            print("* ",end="  ")
        print(" \r")  
a=int(input("enter the no of raws:")) 
pyr(a)

enter the no of raws:5

      *
    *   *
  *   *   *
*   *   *   *

In [24]:
a=0
sum=0
print("Enter 10 numbers")
while(a<10):
    i=int(input(""))
    a=a+1
    sum=sum+i
    av=sum/10;
print("Sum of the given numbers:",sum)
print("Average :",av)

Enter 10 numbers
6
5
6
3
2
1
5
6
3
2
Sum of the given numbers: 39
Average : 3.9

In [26]:
#finding the multiples of ten
for i in range(1,101):
    if(i%10==0):
        print(i)

10
20
30
40
50
60
70
80
90
100

In [30]:
b=a=888
a=a/10
b=b//10
print(a)
print(b)

88.8
88

In [34]:
a=int(input("Enter the num:"))
x=a%5
y=a%7
if((x==0) & (y==0)):
    print("Number is a multiple of both 5 and 7")
else:    
        print("invalid")

Enter the num:70
Number is a multiple of both 5 and 7

In [49]:

k=int(input("Enter the count:"))
i=0
x = 0      
for  i in range(k):
        j=int(input("enter the num:"))
        x=x+j
print("sum=",x)
average=x/k,
print("average",average)

Enter the count:5
enter the num:1
enter the num:2
enter the num:3
enter the num:4
enter the num:5
sum= 15
average (3.0,)

In [52]:
#even or not
n=int(input("Enter the num:"))
x=(n)%2
if x == 0:
    print("Num is even")
else:
    print("odd")

Enter the num:15
odd

In [58]:
b=3.1415926536
a=int(input("radius:"))
c=a*a
print(c)
ar=a*a*b
print(ar)
d=c*b
print(d)

radius:5
25
78.53981634
78.53981634

In [59]:
a=input("Enter your name:")
b=input("Enter your roll number:")
c=input("Enter your mark:")
print("\nName:",a)
print("Roll number:",b)
print("Mark:",c)

Enter your name:nidhin
Enter your roll number:31
Enter your mark:10

Name: nidhin
Roll number: 31
Mark: 10

In [10]:
a,b,c,d=input("Enter 4 numbers:").split()

x= max(a,b,c,d)
y=min(a,b,c,d)
print("Highest value is:",x)
print("Lowest value is:",y)

Enter 4 numbers:7 5 8 6
Highest value is: 8
Lowest value is: 5

In [11]:
a=int(input("starting number:"))
b=int(input("ending number:"))
x=a
y=b
while(x<=y):
      print("*"*x)
      x=x+1

starting number:1
ending number:5
*
**
***
****
*****

In [13]:
a=input("enter the tuple:")
print("new tuple",a)

enter the tuple:54684547 24454
new tuple 54684547 24454

In [16]:
a=int(input("starting number:"))
b=int(input("ending number:"))
x=a
y=b
while(x<=y):
      print("*"*x)
      x=x+1
b=b-1
while(b>=a):
    print("*"*b)
    b=b-1

starting number:1
ending number:6
*
**
***
****
*****
******
*****
****
***
**
*

In [20]:
a=int(input("enter a positive integer:"))
b=a-1
print(b)
sum=0
s=0
while(b>=1):
    s=b*b*b
    b=b-1
    print(s)
    sum=(sum)+s
print(sum)

enter a positive integer:5
4
64
27
8
1
100

In [23]:
# function not created
a=int(input("enter the base:"))
c=1
b=int(input("enter the exponent:"))
while(b>0):
    c=c*a
    print(c)
    b=b-1
print(c)

enter the base:2
enter the exponent:8
2
4
8
16
32
64
128
256
256

In [43]:
num=int(input("enter the range:"))
for n in range(1,num):
    for i in range(2,n):
        if(n%i==0):
            break
       
    else:
         if(n==1):
            print(1,"Neither prime or not")
         else:
             print(n,"prime number")

enter the range:5
1 Neither prime or not
2 prime number
3 prime number

In [49]:
a=int(input("enter the number:"))
def print_till_zero(n):
    if(n==0):
        return
    print(n)
    n=n-1
    print_till_zero(n)
print_till_zero(a)

enter the number:10
10
9
8
7
6
5
4
3
2
1

In [116]:
a=int(input("enter the number:"))

def fac(n):
    return 1 if (n==1 or n==0) else n * fac(n-1);
       
fac(a)  

#another method

enter the number:5

120

In [ ]:
a=int(input("enter the number:"))
def fct(n):
    if n<0:
        return 0
    elif n==1 or n==0:
        return 1
    else:
       
        while(n>1):
            x=n*fct(n-1)
        return x
fct(a)

enter the number:5

In [92]:
emp={'Name':'rahul','Emp_num':'543','join':2019}#creating a library
emp['Emp_num']=453 # editing an entry with the help of index
emp['last_comp']='kseb' #adding new value in to the library
del emp['join'] #deleting a value from the library
z=emp.copy()

In [91]:
emp

{'Name': 'rahul', 'Emp_num': 453, 'last_comp': 'kseb'}

In [94]:
a=10
b=9
c=4
cos_c=9
print(a+b-c)
print("total cost for c:",c*cos_c)
print(2**5) # same as 2^5
print(50//3)
print((a>b)and(a<c))

15
total cost for c: 36
32
16
False

In [97]:
a=10
b=5
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

0
15
15
-11
40
2

In [104]:
def demo(x):
    for i in range(5):
        print("i = {}, x = {}".format(i, x))
        x = x + 2

demo(0)



#printing my name
x=input("enter your Name:\n")
print("hi",x,"\nWELCOME TO PYTHON")

i = 0, x = 0
i = 1, x = 2
i = 2, x = 4
i = 3, x = 6
i = 4, x = 8
enter your Name:
853
hi 853
WELCOME TO PYTHON

In [6]:
1+1
5*8
1+3*2
(1+3)*2

8

In [8]:
not True
not False

True

In [12]:
True & False
False or True

True

In [19]:
True+True
True*8
False-5
0== True
0==False
1==True

True

In [20]:
1<2 and 2<8

True

In [23]:
a=[1,2,5,3,4]
b=a

In [24]:
b is a

True

In [25]:
b==a

True

In [26]:
b=[1,2,5,3,4]

In [27]:
a==b

True

In [28]:
a is b

False

In [38]:
"hello"+"world"
"hello ""world"
"hello world"[4]
len("hello world")

11

In [45]:
name=input("enter the name:")# f strings or formatted strings
f"He said his name is {name}."

enter the name:mijo

'He said his name is mijo.'

In [46]:
f"{name} is {len(name)} characters long."

'mijo is 4 characters long.'

In [50]:
print("hello,world ",end="!")

hello,world !

In [59]:
a=[]
b=[4,5,6]

In [61]:
a.append(1)
a.append(2)
a.append(4)
a

[1, 2, 4, 1, 2, 4]

In [65]:
a.pop()
a

[1, 2]

In [69]:
a[1]
a[-1]
a[3]

IndexError: list index out of range

In [76]:
a[0:2]
a.append(6)
a.append(7)

In [77]:
a[::-1]# print the list in reverse order

[7, 6, 6, 2, 1]

In [78]:
a[::2]# prints every 2nd element

[1, 6, 7]

In [83]:
a.insert(3,3)

In [84]:
a

[1, 2, 6, 3, 3, 6, 7]

In [85]:
a+b

[1, 2, 6, 3, 3, 6, 7, 4, 5, 6]

In [86]:
b.extend(a)

In [87]:
b

[4, 5, 6, 1, 2, 6, 3, 3, 6, 7]