In [1]:
import pandas as pd
import numpy as np

In [41]:
#Q1
x=int(input("enter the num:"))
if(1<x<100):
        if(x%2 == 0):
            if (2<=x<=5):
                print('not weird')
            elif(6<=x<=20):
                print("weird")
            elif(x>20):
                print('>20 & Not weird')
        elif(x%2 != 0):
            print("number is odd -weird")
else:
    print("error")

enter the num:58
>20 & Not weird

In [46]:
#Q2
print("Enter 2 numbers")
x=int(input())
y=int(input())
print(x+y)
print(x-y)
print(x*y)

Enter 2 numbers
2
9
11
-7
18

In [51]:
#Q3
print("enter  2 numbers:")
x=int(input())
y=int(input())
print(x//y)
print(x/y)

enter  2 numbers:
4
3
1
1.3333333333333333

In [100]:
#q4
x=int(input("enter the number:"))
i=0
for x in range(1,x):
        while(i<x):
            print(i*i)
            i=i+1

enter the number:5
0
1
4
9

In [107]:
#q5
x=int(input("enter the year:"))
def is_leap(n):
    if(n%400==0):
        return True
    if(n%100==0):
        return False
    if(n%4==0):
        return True
    return False
is_leap(x)

enter the year:3030

False

In [16]:
#q6
x=int(input("enter the number:"))
print(*range(1,x+1),sep="")

enter the number:40
12345678910111213141516171819202122232425262728293031323334353637383940

In [20]:
print(*range(5,10),sep="")

56789

In [15]:
#q7
A=int(input("enter the 1st num:"))
B=int(input("enter the 2nd num:"))
C=int(input("enter the 3rd num:"))
n=int(input("enter the n:"))
x=[[a,b,c]for a in range(A+1) for b in range(B+1) for c in range(C+1) if a+b+c != n ]
x

enter the 1st num:0
enter the 2nd num:1
enter the 3rd num:0
enter the n:2

[[0, 0, 0], [0, 1, 0]]

In [26]:
a=[x for x in range(5,10)]
a

[5, 6, 7, 8, 9]

In [41]:
result=[]
result.append([[x,y]for x in [1,2,3] for y in [4,5,6]])
result

[[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]]

In [44]:
y=[x for x in range(1,16) if x%3==0]
y

[3, 6, 9, 12, 15]

In [36]:
#q8
n=int(input())
x=input()
arr=list(set(map(int,x.split())))
arr.sort()
arr[-2]

6
2 5 3 6 3 55

6

In [37]:
for i in range(int(input())):
    name=input()
    score=input()

5
nijin
23
mignu
25
mini
24.1
loki
32.36
rahk
65

In [60]:
nested_list=[['blue','red'],['green','black'],['white','yellow']]
len(nested_list)
y=nested_list[2][0]
print(y)
print ("")
for inner in nested_list:
         for value in inner:
             print (value)

white

blue
red
green
black
white
yellow

In [44]:
a=[]
a.append(8876)

A=[1,2,3]
print (A[0])
a.extend([3,4,5,3,67])
a
print(a)
a.insert(3,55)
print(a)
a.remove(3)#removes 1st occurence
print(a)
temp=a.pop()
print(temp)
i=a.index(55)
print(i)
c=a.count(9)
print(c)
a.sort()
print(a)
a.reverse()
print(a)

1
[8876, 3, 4, 5, 3, 67]
[8876, 3, 4, 55, 5, 3, 67]
[8876, 4, 55, 5, 3, 67]
67
2
0
[3, 4, 5, 55, 8876]
[8876, 55, 5, 4, 3]

In [4]:
#sample qn
testcase=int(input())
power=int(input())
results=[]
def cu_power(n,k):
    _r=1
    for i in range(k):
        _r= _r * n
        return _r
        
for i in range(testcase):
    results.append(cu_power(int(input()),power))

5
2
1
7
6
32
-5

In [19]:
#q9
s=input().strip()
s_len=len(s)
s_len
p1,p2=0,0

for i in range(s_len):
    if s[i] in "AEIOU":
        p1 += s_len-i
        print("P1",p1)
    else:
        p2 += s_len-i
        print("P2",p2)
if p1>p2:
    print("p1 wins",p1)
elif p1<p2:
    print("p2 wins",p2)
else:
        print("draw")

banana
P2 6
P2 11
P2 15
P2 18
P2 20
P2 21
p2 wins 21

In [36]:
#q10
S=input()
print (S.swapcase())

Nidhin NAIANJDK;'
nIDHIN naianjdk;'

In [59]:
#q10
A=input()
def split_J(n):
        a=n.split()
        print(a)
        b= "-".join(a)
        #print(b)
        return b
split_J(A)

nidhin wait here , iwill be back
['nidhin', 'wait', 'here', ',', 'iwill', 'be', 'back']

'nidhin-wait-here-,-iwill-be-back'

In [54]:
print("-".join(input().split()))

i love you sweetie
i-love-you-sweetie

In [72]:
#q11
s="abracadabra"
def change(n):
    
    l=list(n)
    l[5]=input()
    s=''.join(l)
    print(s)
    return s
        
change(s)

k
abrackdabra

'abrackdabra'

In [74]:
#q12
for i in range(0,len(s)):
    print(s[i])

a
b
r
a
c
a
d
a
b
r
a